.vscode/*
!.vscode/settings.tpl.json
!.vscode/extensions.json
!.vscode/devcontainer.tpl.json
!.vscode/launch.json
.devcontainer
data/*
!data/.keep
models/*
!models/.keep
docs/docs/api
docs/docs/licenses.md

builds/
dist/
public/
.mypy_cache/
.DS_Store
__pycache__/
.ipynb_checkpoints/
lightning_logs/
tensorboard_logs/
*.log
.pytest_cache
cov-report/
.coverage
htmlcov
.coverage.*
coverage.xml
.env
